@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Sriracha', cursive;
    --fonte3: 'Great Vibes', cursive;
}

body {
    background-color: rgb(16, 16, 16);
    padding: 15px;
}

header {
    background-color: rgb(0, 0, 0);
    padding: 25px;
    max-width: 1800px;
    width: auto;
}

nav {
    box-shadow: 1px 1px 1px rgb(36, 36, 36);
}

abbr {
    font-size: 0.8em;
    padding: 10px;
    text-decoration: underline;
    color: rgb(228, 228, 228);
}

#links { /*Para centralizar os blocos de caixas no header */
    font-family: var(--fonte3);
    text-align: center;
    font-size: 1.8em;
    padding: 8px;
    font-weight: 500;
}

/* -------------------------------------------- fim do header ---------------------------------------- */
/*----------------------------------------------pagina 1-------------------------------------------------*/
/*--- pagina principal - floresta */

section#principal {   
    color: rgb(7, 7, 7);
    background-attachment: fixed;
    width: auto;  
    height: 800px;
    padding: 20px;
    max-width: 1800px;

}

section.img01 {
    background-image: url(../imagens/floresta.jpeg);
    background-position: center center;
    background-attachment: fixed;
    background-attachment: no-scroll;
}

h1 {
    font-family: var(--fonte3);
    text-align: center;
    font-size: 5em;
}

#h1 {
    margin-top: 270px;
}

#pdoh1 {
    text-align: center;
    color: rgb(248, 248, 248);
    font-weight: bolder;
}

/*----------------------------------------------pagina 2-----------------------------------------------*/
/*---quem sou eu */

body > section > 

section > picture > img {
    width: 80%;
    max-width: 1500px;
    display: block;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;        
}

#fotoperfil {   
    width: 320px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

section#pagina2 {
    background-color: rgb(0, 0, 0);
}

h2 {
    color: white;
    font-family: var(--fonte3);
    padding: 30px;
    font-size: 2.3em;
    text-align: center;
}

#quemsoueu {
    background-color: rgb(172, 102, 127);
    color: rgb(242, 238, 238);
    font-family: var(--fonte2);
    font-weight: lighter;
    font-size: x-large;
    padding: 20px;
    text-indent: 35px;
    text-align: justify;
}
/*-------------------------------------------pagina 3----------------------------------------------------*/
/*----Meus Projetos----*/

section#pagina2 {   
    color: rgb(7, 7, 7);
    background-attachment: fixed;
    width: auto;  
    height: 800px;
    max-width: 1800px;

}

section.img03 {
    background-image: url(../imagens/ideia.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 800px;
}


/*section#pagina3 {
    display: block;    
    background-attachment: fixed;
    height: 800px;
    max-width: 1800px;
    width: 100%;
    margin-right: auto;
}

section.img03 {
    background-image: url(../imagens/floresta.jpeg);
    background-repeat: no-repeat;

}*/




/*----------------------------------------pagina 4------------------------------------------------------*/

footer {
    background-color: black;
    text-align: center;
    
}

footer > p {
    color: white;
    padding: 15px;
    font-size: larger;
}

footer > p > a {
    color: blue;
}

aside > p {
    padding: 20px;
}

iframe {
    width: 200px;
    height: 200px;
}